.square {
	stroke: black;
	fill: steelgray;
	stroke-width: 2px;

	height: 45px;
	width: 45px;
}

.open:hover rect {
	stroke: blue;
	fill: blue;
}

.open:hover path {
	stroke: powderblue;
	fill: powderblue;

}

.mazePassage {
	stroke: white;
	fill: white;
}
